nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
}
nav li {
    float: left;
}
nav li {
    margin-left: 10px;
}
nav li:first-child {
    margin-left: 0;
}
li > a {
    display: inline;
}
div#home {
    width: 100vw;
    height: 100vh;
    background-color: rgb(222, 205, 237);
}